<div class="container flex">
    <div class="card s">
        <h1>Nike Tiger</h1>
        <hr>
        <p>lorem ipsum...</p>
        <div class="buttons-row">
            <button (click)="addProducto({producto: 'Nike'})">Añadir</button>
        </div>
    </div>
    <div class="card s">
        <h1>Adidas Messi</h1>
        <hr>
        <p>lorem ipsum...</p>
        <div class="buttons-row">
            <button (click)="addProducto({producto: 'Adidas'})">Añadir</button>
        </div>
    </div>
    <div class="card s">
        <h1>Puma Ronaldo</h1>
        <hr>
        <p>lorem ipsum...</p>
        <div class="buttons-row">
            <button (click)="addProducto({producto: 'Puma'})">Añadir</button>
        </div>
    </div>
</div>